<!-- modals/bienvenida_modal.html -->
<div class="modal fade" id="bienvenidaModal" tabindex="-1" role="dialog" aria-labelledby="bienvenidaModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="bienvenidaModalLabel">Bienvenido a GameLab</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
        <div class="modal-body">
             <p>¡Hola {{ user.username }}! Nos alegra que estés aquí. Explora los rankings y compite con otros jugadores.</p>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Cerrar</button>
            
        </div>
        </div>
    </div>
</div>