{% extends 'base.html' %}

{% block title %}Snake Game{% endblock %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/snake.css' %}">
{% endblock %}

{% block content %}
<div id="game-container" data-save-url="{% url 'snake' request.user.id %}">

    <div id="game-board"></div>
    <div class="score-container">
        <h1>Puntaje: <span id="score">0</span></h1>
        <h2>Nivel: <span id="level">1</span></h2>
        <h3>Tiempo Jugado: <span id="time">0</span> segundos</h3>
    </div>
    <p class="text-center">Usa las teclas <strong>WASD</strong> o las <strong>Flechas</strong> para mover al personaje.</p>
    <button id="start-button" class="btn btn-primary mt-3">Iniciar Juego</button>
</div>
{% endblock %}

{% block js %}
<script src="{% static 'js/snake.js' %}"></script>
{% endblock %}
