{% load static %}
<!DOCTYPE html>
<html lang="es-mx">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Proyecto DJANGO{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

    {% block css %}{% endblock %}
      <!-- Google Fonts -->
      <link rel="preconnect" href="https://fonts.googleapis.com">
      <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
      <link href="https://fonts.googleapis.com/css2?family=Akaya+Telivigala&display=swap" rel="stylesheet">
</head>
<body>
    <header class="header bg-dark text-white">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container-fluid">
                <!-- Logo -->
                <a href="{% url 'home' %}" class="navbar-brand">
                    <img src="{% static 'images/gamelab.jpg' %}" alt="Logo" class="navbar-logo">
             
                </a>
                
                <!-- Botón de colapso -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Navegación -->
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link " href="{% url 'home' %}">Inicio</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'lista_consolas' %}">Consolas</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'lista_videojuegos' %}">Videojuegos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'snake' user.id %}">Snake</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'dinosaur_run' %}">Dinosaur Run</a>
                        </li>

                      
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'Adventure' %}">Adventure</a>
                        </li>

                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'memory_game' %}">Juego de memoria</a>
                        </li>
                    </ul>

                    <!-- Dropdown Usuario -->
                    <div class="dropdown open ms-auto">
                        <button
                            class="btn btn-secondary dropdown-toggle"
                            type="button"
                            id="triggerId"
                            data-bs-toggle="dropdown"
                            aria-haspopup="true"
                            aria-expanded="false"
                        >
                        {% if user.is_authenticated %}   
                        <i class="bi bi-person-circle"></i> {{ user.username }}
                        {% else %}
                        <i class="bi bi-person-circle"></i> Login
                        {% endif %}

                        </button>
                        <div class="dropdown-menu  dropdown-menu-end" aria-labelledby="triggerId">
                            {% if user.is_authenticated %}


                          
                           {% if  view_persona %}
                                <li><a href="{% url 'perfil' user.id %}">Perfil</a></li>
                            {% else %}
                                <li><span>No tienes permisos para ver esta sección</span></li>
                            {% endif %}

                            {% if  change_persona %}
                                <li><a href="{% url 'config' user.id %}">Configuraciones</a></li>
                            {% else %}
                                <li><span>No tienes permisos para editar esta sección</span></li>
                            {% endif %}

                                  
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            {% else %}
                            
                            <li><a href="{% url 'login' %}">Login</a></li>
                            <li><a href="{% url 'register' %}">Register</a></li>
                            {% endif %}
        
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <main class="main container mt-4">
        {% block content %}{% endblock %}
    </main>

    <!-- Footer -->
    <footer class="footer text-center text-white bg-dark py-3 mt-auto">
        <div class="container">
            <section class="mb-4">
                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                    <i class="bi bi-facebook"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                    <i class="bi bi-instagram"></i>
                </a>
                <a class="btn btn-outline-light btn-floating m-1" href="#" role="button">
                    <i class="bi bi-github"></i>
                </a>
            </section>
            <div>&copy; 2024 Mi Página</div>
        </div>
    </footer>

    <!-- Bootstrap JS -->
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    
    {% block js %}{% endblock %}
</body>
</html>
